.aboutContainer {
	margin-top: 10%;

	.text {
		margin-top: 2%;
		margin-bottom: 12%;
	}

	.image {
		position: absolute;
		top: 14%;
		right: 6%;

		img {
			border-radius: 10%;
			height: 70vh;
		}
	}

	.header,
	.description {
		font-family: 'Baloo Tamma 2', cursive;
		margin-left: 6%;
	}

	.header {
		font-size: 3.5rem;
	}

	.description {
		font-size: 1rem;
		width: 40%;
		color: #787878;
	}

	@media (min-width: 280px) and (max-width: 1023px) {
		.text {
			text-align: center;
		}
		.header,
		.description {
			margin: 0 auto;
		}
	}

	@media (min-width: 1024px) and (max-width: 1400px) and (orientation: portrait) {
		.text {
			text-align: center;
		}
		.header,
		.description {
			margin: 0 auto;
		}

		.description {
			width: 50%;
		}

		.image {
			position: absolute;
			top: 40%;
			right: 28%;

			img {
				border-radius: 10%;
				height: 50vh;
			}
		}
	}

	@media (min-width: 700px) and (max-width: 1023px) and (orientation: landscape) {
		.description {
			width: 60%;
		}

		img {
			display: none;
		}
	}

	@media (min-width: 700px) and (max-width: 1023px) and (orientation: portrait) {
		.description {
			width: 60%;
		}

		.image {
			position: absolute;
			top: 50%;
			right: 33%;

			img {
				border-radius: 10%;
				height: 40vh;
			}
		}
	}

	@media (min-width: 280px) and (max-width: 699px) {
		.description {
			width: 60%;
		}

		img {
			display: none;
		}
	}

	@media (min-width: 0px) and (max-width: 699px) and (orientation: landscape) {
		display: none;
	}
}
