.artContainer {
	display: grid;
	height: 100%;
	width: 100%;

	grid-template-areas: 'header' 'content';
	grid-template-columns: auto;
	grid-template-rows: 10vh max-content;

	.artHeader {
		display: grid;
		grid-area: header;

		margin: 0 auto;
	}

	.artContentContainer {
		display: grid;
		grid-area: content;

		.artContent {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-content: flex-start;
		}
	}

	@media (min-width: 280px) and (max-width: 1024px) {
		grid-template-areas: 'navbar' 'header' 'content';
		grid-template-columns: auto;
		grid-template-rows: 8vh 10vh max-content;
	}
}
