body {
	background-color: #f7f9f7;
}

.navbar {
	background-color: #dedde3;
	color: white;
	display: grid;
	grid-area: nav;
	margin: 0;

	position: sticky;
	top: 0;
	left: 0;

	.imgWrapper {
		background-color: #dedde3;
		width: 80%;
		height: 8.5%;
		margin: 0 auto;
	}

	img {
		margin-top: 0.8rem;
		width: 100%;
		border-radius: 20%;
	}

	.check {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	.pages {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		a {
			text-decoration: none;
			color: #141414;
		}

		a:hover {
			color: #3b0086;
		}
	}

	.toggle {
		display: none;
	}

	@media (min-width: 1025px),
		(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		width: 10rem;
		height: 100vh;

		.navContent {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;

			height: 100vh;
			width: 10rem;
		}

		.pages {
			flex-direction: column;
			margin: auto auto;
			height: 15rem;
		}

		section {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-direction: row;
			margin: 0.8rem;
			height: 2rem;

			a {
				text-decoration: none;
			}

			a:hover {
				font-size: 3vmin;
			}

			.twitter {
				color: #1fa1ef;
				padding-right: 2rem;
			}

			.twitch {
				color: #9048fb;
			}
		}

		.footer {
			font-family: 'Baloo Tamma 2', cursive;
			place-content: center;
			text-align: center;
			color: #141414;
			margin-bottom: 1%;
			font-size: 0.8rem;
		}
	}

	@media (min-width: 700px) and (max-width: 1024px) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100vw;
		height: 8vh;

		.navContent {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: center;

			height: 100vh;
			width: 100%;

			position: sticky;
			top: 0;
			left: 0;
		}

		.imgWrapper {
			display: none;
		}

		.pages {
			flex-direction: row;
			margin: 0.8rem;
			width: 25rem;
		}

		section,
		.footer {
			display: none;
		}
	}

	@media (min-width: 280px) and (max-width: 699px) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100vw;
		height: 8vh;

		.navContent {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: center;

			height: 100vh;
			width: 100%;
		}

		.imgWrapper {
			display: none;
		}

		.pages {
			flex-direction: row;
			margin: 0.8rem;
			width: 25rem;
		}

		.toggle {
			display: block;
			a {
				text-decoration: none;
				color: #141414;
			}

			a:hover {
				color: #3b0086;
			}
		}

		.toggle:checked ~ nav {
			transform: scale(1, 1);
		}

		.toggle:checked ~ nav a {
			opacity: 1;
			transition: opacity 250ms ease-in-out 250ms;
		}

		section,
		.footer {
			display: none;
		}
	}

	@media (min-width: 0px) and (max-width: 699px) and (orientation: landscape) {
		display: none;
	}
}
