.footer {
	@media (min-width: 1025px),
		(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		display: none;
	}

	@media (min-width: 280px) and (max-width: 1024px) {
		font-family: 'Baloo Tamma 2', cursive;
		display: grid;
		place-content: center;
		text-align: center;
		background-color: #1d1d1d;
		color: white;
		grid-area: footer;

		p {
			margin: 0 auto;
			font-weight: 550;
			font-size: 1rem;
		}
	}

	@media (min-width: 0px) and (max-width: 699px) and (orientation: landscape),
		(min-width: 1400px) {
		display: none;
	}
}
